/*
** Overlay Mixin
** Overlay Main Properties
*/
/*
** Prefixes Mixin
** Auto Add Prefixes To Properties
*/
/*
** Animation Mixin
** Auto Add Prefixes To Animation
*/
/*
** Opacity Mixin
** Opacity For All Browsers
*/
/*
** Transition Mixin
** Ready Prefixed Transition: if you often use it
** all what you put in $args, will be the value of this propertie
*/
.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold;
}
.btn:focus {
  outline: none;
}

.btn-transparent {
  background: transparent;
  border: none;
}

.btn-transparent-success {
  color: #398439;
}

@-webkit-keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
@-ms-keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.spinner {
  position: relative;
}
.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
  border: 1px solid #ccc;
  border-top-color: #07d;
  animation: spinner 0.6s linear infinite;
}

/* latin-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), local("Raleway-Regular"), url(../fonts/raleway/v12/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), local("Raleway-Regular"), url(../fonts/raleway/v12/1Ptug8zYS_SKggPNyC0ITw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  font-family: "Raleway", Arial, sans-serif;
}

.main-nav {
  overflow: hidden;
  height: 46px;
  line-height: 46px;
  background-color: #4285F4;
  color: white;
}

.main-header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}
.main-header .zones {
  height: 50px;
  min-height: 50px;
}
.main-header .zones .main-breadcrumb, .main-header .zones .search, .main-header .zones button[type=submit], .main-header .zones .actions, .main-header .zones .navigations {
  position: relative;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.main-header .zones .search {
  border-width: 0 0 1px;
  box-shadow: none;
  border-radius: 0;
  padding-right: 25px;
  padding-left: 0;
}
.main-header .zones button[type=submit] {
  background: transparent;
  border: none;
  position: absolute;
  right: 0;
}
.main-header .zones .navigations .view-mode i {
  padding: 5px 8px;
  cursor: pointer;
}
.main-header .zones .navigations .view-mode i:first-of-type {
  margin: -4px;
}
.main-header .zones .navigations .view-mode i.active, .main-header .zones .navigations .view-mode i.active:hover, .main-header .zones .navigations .view-mode i.active:focus {
  background-color: #e5e5e5;
}

.customers-grid {
  display: none;
}
.customers-grid.spinner {
  height: calc(100vh - 200px);
}
.customers-grid .retry-btn {
  position: relative;
  height: calc(100vh - 200px);
  display: none;
}
.customers-grid .retry-btn button {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
}
.customers-grid .customer-grid {
  border: 1px solid #d9d7d7;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100px;
  cursor: pointer;
}
.customers-grid .customer-grid:hover {
  border-width: 3px;
}
.customers-grid .customer-grid .customer-details .fullname {
  margin: 0;
  height: 26px;
  max-height: 26px;
  overflow: hidden;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 18px;
  white-space: nowrap;
}
.customers-grid .customer-grid .customer-details p {
  margin: 5px 0;
  height: 20px;
  max-height: 20px;
  overflow: hidden;
}

.customers-list.spinner {
  height: calc(100vh - 200px);
}
.customers-list .retry-btn {
  position: relative;
  height: calc(100vh - 200px);
  display: none;
}
.customers-list .retry-btn button {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
}
.customers-list .dataTable td,
.customers-list .dataTable th {
  white-space: nowrap;
}

.customers-add .form-add-customers .main-form .left-form {
  margin-bottom: 50px;
}
.customers-add .form-add-customers .main-form .left-form .control-label {
  padding-left: 0;
}
.customers-add .form-add-customers .main-form .right-form {
  margin-bottom: 50px;
}
.customers-add .form-add-customers .control-label {
  text-align: left;
}
.customers-add .form-add-customers .form-control {
  border-width: 0 0 1px;
  box-shadow: none;
  border-radius: 0;
  padding-left: 0;
}
.customers-add .form-add-customers .tab-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

/*# sourceMappingURL=homepage.css.map */
