// Start main nav
.main-nav {
  overflow: hidden;
  height: 46px;
  line-height: 46px;
  background-color: #4285F4;
  color: white;
}
// End main nav
// Start main Header
.main-header {
  border-bottom: 1px solid  #ccc;
  margin-bottom: 15px;
  .zones {
    height: 50px;
    min-height: 50px;
    .main-breadcrumb, .search-form, .actions, .navigations {
      @include vertical-center();
    }
    .search-form {
      .search {
        border-width: 0 0 1px;
        box-shadow: none;
        border-radius: 0;
        padding-right: 25px;
        padding-left: 0;
      }
      button[type="submit"] {
        background: transparent;
        border: none;
        position: absolute;
        right: 0;
        top: 6px;
      }
    }
    .actions {
      .actions-view {
        display: none;
        &.main-view {
          display: block;
        }
      }
    }
    .navigations {
      .paginations-buttons {
        position: absolute;
        left: 35%;
        .paginations {
          cursor: pointer;
          padding: 5px 8px;
          &:hover {
            background-color: #e5e5e5;
          }
        }
        .pagination-current {
          width: 30px;
          text-align: center;
          border: none;
          box-shadow: none;
          border-radius: 0;
          padding-left: 0;
        }
      }
      .view-mode {
        i {
          padding: 5px 8px;
          cursor: pointer;
          &:first-of-type {
            margin: -4px;
          }
        }
        i.active, i.active:hover, i.active:focus {
          background-color: #e5e5e5;
        }
      }
    }
  }
}
// End main Header

// Start Customers grid
.customers-grid {
  display: none;
  &.spinner {
    height: calc(100vh - 200px);
    .customer-grid {
      display: none;
    }
  }
  .retry-btn {
    position: relative;
    height: calc(100vh - 200px);
    display: none;
    button {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -15px;
      margin-left: -15px;
    }
  }
  .customer-grid {
    border: 1px solid #d9d7d7;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px;
    cursor: pointer;
    &:hover {
      border-width: 3px;
    }
    .customer-details {
      .fullname {
        margin: 0;
        height: 26px;
        max-height: 26px;
        overflow: hidden;
        text-transform: capitalize;
        font-weight: bold;
        font-size: 18px;
        white-space: nowrap;
      }
      p {
        margin: 5px 0;
        height: 20px;
        max-height: 20px;
        overflow: hidden;
      }
    }
  }
}
// End Customers grid

// Start customers list
.customers-list {
  #table-customers-list_wrapper {
    overflow: hidden;
  }
  &.spinner {
    height: calc(100vh - 200px);
    table {
      display: none;
    }
  }
  .retry-btn {
    position: relative;
    height: calc(100vh - 200px);
    display: none;
    button {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -15px;
      margin-left: -15px;
    }
  }
  .dataTable td,
  .dataTable th {
    white-space: nowrap;
  }
}
// End customers list

// Start customers add
.customers-add {
  display: none;
  .form-add-customers {
    border: 1px solid #d9d7d7;
    box-shadow: 0 5px 20px -15px #000;
    padding: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
    .main-form {
      .left-form {
        @media #{$min-medium} {
          margin-bottom: 50px;
        }
        .control-label {
          padding-left: 0;
        }
      }
      .right-form {
        @media #{$max-small} {
          .control-label {
            padding-left: 0;
          }
        }
        margin-bottom: 50px;
      }
    }
    .control-label {
      text-align: left;
    }
    .form-control {
      border-width: 0 0 1px;
      box-shadow: none;
      border-radius: 0;
      padding-left: 0;
      @at-root textarea#{'.form-control'} {
        resize: vertical;
        max-height: 200px;
        min-height: 50px;
      }
    }
    .tab-content {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}
// End customers add
