// Start Customers grid
.customers-grid {
  .customer-grid {
    border: 1px solid #d9d7d7;
    padding: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    height: 100px;
    cursor: pointer;
    &:hover {
      border-width: 3px;
    }
    .customer-details {
      margin-left: 10px;
      display: inline-block;
      .fullname {
        margin: 0;
        height: 26px;
        max-height: 26px;
        overflow: hidden;
        text-transform: capitalize;
        font-weight: bold;
      }
      p {
        margin: 5px 0;
        height: 20px;
        max-height: 20px;
        overflow: hidden;
      }
    }
  }
}
// End Customers grid
